@page "/"

<PageTitle>ExistHelper</PageTitle>

<h1>ExistHelper</h1>
Shows number of days since last usage of attributes in the <a href="https://exist.io">Exist</a> API.
<br />
Partly created as a "vibe coding" experiment to get used to using GitHub Copilot Edits via chat.

