@page "/"

<PageTitle>ExistHelper</PageTitle>

<h1>ExistHelper</h1>
Shows number of days since last usage of attributes in the <a href="https://exist.io">Exist</a> API.
<br />
<br />
Partly created as a "<a href="https://x.com/karpathy/status/1886192184808149383?lang=en">vibe coding</a>" experiment to get used to using GitHub Copilot Edits via chat.  I use the term a bit jokingly...
<br />
<br />
From the <a href="https://x.com/karpathy/status/1930305209747812559">same person</a> who coined the term:
<br />
<i>This leads me to probably the biggest misunderstanding non-coders have about coding. They think that coding is about writing the code (generation). It's not. It's about staring at the code (discrimination). Loading it all into your working memory. Pacing back and forth. Thinking through all the edge cases. If you catch me at a random point while I'm "programming", I'm probably just staring at the screen and, if interrupted, really mad because it is so computationally strenuous.</i>
<br />

<br />
See also:
<a href="https://simonwillison.net/2025/Mar/19/vibe-coding/">Not all AI-assisted programming is vibe coding (but vibe coding rocks)</a>


